.errors-page {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // padding-bottom: 8vh;

  overflow-y: auto;
  overflow-x: hidden;

  @include start-at("lg") {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 992px) and (max-height: 500px) {
    padding-bottom: 5vh;
  }

  &_403 {
    padding-bottom: 20vh;

    @include start-at("md") {
      padding-bottom: 15vh;
    }

    @include start-at("lg") {
      padding-bottom: 50px;
    }
  }

  &_404 {
    @media screen and (max-width: 992px) and (max-height: 500px) {
      padding-bottom: 0;
    }
  }

  &__inner {
      display: flex;
      align-items: center;
      flex-grow: 1;
      width: 100%;

      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(~/assets/images/errors/errors-bg.svg);
  }


  &__number {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    @include start-at("lg") {
      margin-bottom: 0;
    }
  }

  &__number-text {
    position: relative;

    font-family: $font-family-bold;
    font-size: 150px;
    line-height: 0.7;
    color: var(--brand_color);

    @media screen and (max-height: 600px) and (min-width: 400px) {
      padding-top: 35px !important;
      font-size: 200px !important;
    }

    @include start-at("md") {
      padding-top: 55px;

      font-size: 250px;
      line-height: 0.4;
    }

    @include start-at("xl") {
      font-size: 280px;
    }

    @include start-at("xxl") {
      font-size: 340px;
    }
  }

  &__number-img {
    position: absolute;
    top: calc(100% - 10px);
    left: 50%;

    width: 124px;
    height: auto;
    display: none;

    transform: translateX(-25%);

    @include start-at("md") {
      top: calc(100% + 18px);

      width: 196px;
      display: block;

      transform: translateX(-38%);
    }

    @include start-at("xl") {
      width: 265px;
    }
  }
}