.notice {
    display: block;
    width: 100%;
    text-align: center;
    padding: 7px*$rem 10px*$rem;
    border-radius: $border-radius;
    font-size: 14px*$rem;
    text-align: center;
    &.no-pd {
        padding: 0;
    }
    &[data-show="show"] {
        display: block;
    }
    &[data-show="hide"] {
        display: none;
    }
    &[data-size="large"] {
        padding: 10px*$rem 15px*$rem;
        font-size: 15px*$rem;
    }
    &[notice-id^="error_"] {
        margin-bottom: 10px*$rem;
        width: 100%;
        line-height: 1.1;
        @include respond-to(small-tablet) {
            width: auto;
        }
    }
    &_alb-ver[notice-id^="error_"] {
        margin-bottom: 10px*$rem;
        width: 100%;
        max-width: 100%;
        line-height: 1.1;
    }
    &[notice-id="add"] {
        margin-bottom: 5px*$rem;
    }
    &[notice-id="alert-upload"] {
        margin-bottom: 10px*$rem;
        margin-left: auto;
        margin-right: auto;
    }
    &[notice-id="error-users"] {
        margin-bottom: 5px*$rem;
    }
    &[notice-id="error-album"] {
        margin-bottom: 5px*$rem;
    }
    &[data-size="medium"] {
        font-size: 12px*$tem;
        @include respond-to(mobile) {
            font-size: 15px*$tem;
        }
    }
    &[notice-id^="error_price_"] {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3px;
    }
    &[notice-id^="error_tooltip_"] {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    &[notice-id$="-error"] {
        margin-bottom: 5px*$rem;
    }
    &[notice-id^="success-ps_"],
    &[notice-id^="error-ps_"] {
        margin-bottom: 10px*$rem;
    }
    &[notice-id="error_create-album"] {
        margin: 0;
    }

    &_icon_right {
        position: relative;
        padding-right: 40px;

        & .icon {
            position: absolute;
            top: 50%;
            right: 8px;
            
            transform: translateY(-50%);

            &:hover {
                color: inherit;
                opacity: 0.7;
            }
        }
    }
}

wrapper-notice[class^="error_tooltip_"] {
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 44;
    width: 205px;
    transform: translateY(-50%);
    &::before {
        position: absolute;
        left: -4%;
        top: 16%;
        height: 0;
        width: 0;
        pointer-events: none;
        border: solid transparent;
        border-width: 10px;
        border-radius: 2px;
        border-bottom-color: var(--bg_notice_danger);
        transform: rotate(-90deg) translateY(-50%);
        content: '';
    }
}