.header {
    position: relative;
    z-index: 6;

    grid-area: header;
    display: grid;
    grid-template-columns: calc(50% + 60px) auto;

    background-color:  var(--bg_header);

    @include respond-to(small-tablet) {
        grid-template-columns: $widthNavbar 1fr;
        width: 100%;

        background-color: var(--bg_header_desktop);
    }

}



