.textarea {
	width: 100%;
	height: 70px*$rem;

	// padding-top: 5px*$rem;
	// padding-left: 12px*$rem;
	// padding-right: 5px*$rem;

	padding: 12px*$rem;

	font-size: 14px*$tem;
	font-family: $font-family-base;
	line-height: 1.1;
	font-family: inherit;

	// border: $border-width solid var(--border_input);

	border: 1px solid #fff;
    box-shadow: var(--box_shadow_block);

    border-radius: $border-radius;
	outline: none;
	resize: none;
	color: var(--color_textarea);

	&:focus {
		border-color: var(--border_focus_input);
	}
}