.clear-ps-photos-files {
  padding-top: 4px;
  padding-bottom: 15px;

  @include respond-to(mobile) {
    padding-top: 2px;
  }

  &__inner {
    display: flex;
    flex-direction: column-reverse;

    @include respond-to("small-tablet") {
      flex-direction: row;
    }
  }


  &__directory {
    margin-top: 15px*$rem;
    padding: 18px*$rem 18px*$rem 16px*$rem;

    border-radius: $border-radius;
    background-color: var(--bg_unloading_orders_directory);

    @include respond-to(small-tablet) {
        margin-top: 0px*$rem;
        flex-basis: 315px*$rem;
        margin-right: 12px*$rem;
    }
  }

  &__btns {
    // margin-bottom: 10px;
    display: flex;
    flex-grow: 1;
    gap: 7px*$rem;

    @include respond-to(sm) {
      flex-wrap: wrap;
      
    }

    // > .button {
    //   margin-right: 8px;
    //   flex-grow: 1;
    //   width: 100%;

    //   &:last-child {
    //     margin-bottom: 0;
    //     margin-right: 0;
    //   }
    // }

    & .button[data-selected="unselect"] {
        & .icon {
            display: none;
        }
    }
    & .button[data-selected="select"] {
        & .icon {
            display: inline-flex;
        }
    }
    

    @include respond-to(small-mobile) {
      > .button {
        width: auto;
      }
    }

    @include respond-to(small-tablet) {
      margin-bottom: 0;
      flex-direction: column;
      flex-basis: 40%;

      & > .button {
        margin-right: 0;
        // margin-bottom: 8px;
        flex-grow: 0;
      }
    }
  }

  &__controls-btns {
    margin-top: 15px;
    display: flex;
    width: 100%;

    & > .button {
      flex-grow: 1;

      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }

  &__check {
    display: inline-flex;
    align-items: center;
    text-align: left;
    margin-top: 14px;
    width: 80%;

    cursor: pointer;

    @include respond-to(mobile) {
      width: 100%;
    }
  }

  &__check-text {
    margin-left: 8px;
  }

  &__settings {

  }

  &__accept {
    cursor: pointer;

    display: inline-flex;
    gap: 15px*$rem;
    align-items: center;

    width: 100%;

    border-radius: 3px*$rem;
    padding: 15px*$rem;
    background-color: var(--bg_unloading_orders_directory);

    font-size: 14px*$tem;

    & checkbox {
      margin-top: 2px*$rem;
    }

    &:hover {
        transition: opacity 0.3s ease;
        background-color: var(--bg_modal_footer);
    }
  }
}

.unloading-directory-item {

  > .unloading-directory-item {
    padding-left: 14px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &[data-selected="0"] {
      & .unloading-directory-item__icon {
        color: var(--color_icon_folder_disabled_unloading_orders);
      }

      & .unloading-directory-item__text {
        color: #BABABA;
      }
    }
  }

  &__icon {
    color: var(--color_icon_folder_unloading_orders);
  }

  &__text {
    font-size: 15px;
    line-height: 19px;
  }
}
