.blocks-wrapper {
  display: grid;
  grid-gap: $grid-gap-blocks;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));

  @include respond-to(mobile) {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }

  @include respond-to(small-tablet) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

    &_admin {
      display: flex;
      flex-wrap: wrap;
      margin-left: -7.5px;
      margin-right: -7.5px;

      grid-gap: 0;
    }
  }
}

.info-block {
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px*$rem;

  @include respond-to(small-tablet) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px*$rem;
    padding: 15px*$rem;
  }

  &[data-border-left="green"] {
    border-left: 10px*$rem solid var(--border_info_block_pay);
  }

  &[data-border-left="gray"] {
    border-left: 10px*$rem solid var(--border_info_block_disabled);
  }

  &[data-border-left="red"] {
    border-left: 10px*$rem solid var(--border_info_block_nopay)
  }

  &.path {
    grid-gap: 0;

    & .info-block__title {
      font-size: 16px;
    }

    @include respond-to(small-tablet) {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      margin-right: 7.5px;
      margin-left: 7.5px;
      width: 440px;

      & .info-block__text {
        width: 45%;
      }

      & .info-block__btn {
        width: 55%;
        min-width: 55%;
      }
    }
  }

  &__number-controls {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;

    &_number {
      width: 50%;
      font-size: 14px*$tem;

      & .text {
        font-size: 12px*$tem;
        color: var(--color_text_block);
      }
    }

    &_btns {
      display: inline-flex;
      justify-content: flex-end;
      align-items: baseline;
      gap: 3px*$rem;
      width: 50%;

      & button {
        font-size: 16px*$tem;
        padding: 6px;

        @include respond-to("xslg") {
          font-size: 18px*$tem;
        }
      }
    }
  }

  &__title-ps {
    margin-top: 10px*$rem;
    width: 100%;
    font-size: 14px*$tem;
    font-family: "open-sans-semibold",sans-serif;
  }

  &__title-ps-for-users {
    margin-bottom: 10px*$rem;
    width: 100%;
    font-size: 12px*$tem;
    color: var(--color_text_block);
  }

  &__state-hidden {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -1;

    padding: 5px*$rem 15px*$rem;

    opacity: 0;

    background: var(--bg_info_block_state);
    color: var(--color_info_block_state);
    border-radius: 0.1875rem;

    font-size: 12px;

    transition: all 0.3s ease;
  }

  &__state {
    position: relative;

    display: flex;
    align-items: flex-start;
    margin-top: 5px;

    font-size: 13px;
    color: inherit;

    &:hover .info-block__state-hidden {
      opacity: 0.88;
      z-index: 2;
    }

    &.disabled:hover .info-block__state-hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__state-icon {
    display: flex;
    align-items: flex-start;

    font-size: 20px;
    margin-right: 5px*$rem;
  }


  &__discount {
    display: block;
    width: 100%;
    margin-bottom: 5px*$rem;
    grid-column: 1 / span 2;
  }

  &__text {
    width: 100%;
  }

  &__title-user-ps {
    display: block;
    width: 100%;
    margin-bottom: 5px*$rem;
    grid-column: 1 / span 2;

    & .text-bold {
      font-size: 14px*$tem;
    }
  }

  &__title {
    margin-bottom: 10px*$rem;

    &_admin {
      margin-bottom: 5px*$rem;
      line-height: 1.1;
    }
  }

  &__owner {
    display: block; 
    margin-top: 5px*$rem;
    grid-column: 1 / span 2; 
    font-size: 12px;

    @include active-by("xslg") {
      margin-top: 15px;
      width: 100%;
      padding-right: 30px;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px*$rem;
    width: 100%;
    gap: 5px*$rem;

    a:not(:last-child) {
      // margin-right: 5px*$rem;
    }


    @include respond-to(small-tablet) {
      flex-direction: column;
      justify-self: flex-end;
      margin-top: 0;
      margin-right: 0;
      min-width: 114px;
      width: auto;

      a:not(:last-child) {
        // margin-bottom: 5px*$rem;
      }
    }

    &_two {
      flex-wrap: wrap;

      & .button {
        // margin-top: 5px;
        height: 32px;
        width: 48.5%;
      }

      a:not(:last-child) {
        margin-right: 0;
      }

      @include respond-to(small-tablet) {
        min-width: 100%;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        & .button {
          width: 48.5%;
          margin: 0;

          font-size: 14px;
        }
      }

      @include respond-to(tablet) {
        justify-content: flex-end;

        & .button {
          width: 100px;
          min-width: 100px;

          &:nth-child(n+1) {
            // margin-right: 5px;
          }
        }
      }

      @include respond-to(desktop) {
        font-size: 16px;
      }

      & .info-block__btn-link_full {
        // margin-right: 0;
        width: 100%;

        @include respond-to(small-tablet) {
          // margin-bottom: 5px;
        }

        @include respond-to(tablet) {
          width: 93%;
        }
      }

      & .album__btn-link-view {
        // margin-top: 5px;

        @include respond-to(tablet) {
          margin-right: auto !important;
          // margin-left: 10px;
        }

      }
    }
  }

  &__btn-link {
    height: 34px;
    width: 48%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.1;

    @include respond-to(small-tablet) {
      width: 100%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 2;
    margin-top: 15px;
    width: 100%;

    & .button {
      width: 48.5%;

      @include respond-to(small-tablet) {
        width: auto;
      }
    }
  }

  &__descr {
    font-size: 12px*$tem;

    &_admin {
      font-size: 12px;
    }
  }
}

info-block-btn m-wrapper {
  width: 48.5%;
  display: block;

  @include respond-to(small-tablet) {
    width: auto;
  }

  & .button {
    width: 100% !important;
  }
}

info-block-delete {
  position: absolute;
  bottom: 5px;
  right: 5px;
}