gallery-loader {
    --primary-color-h: 217;
    --primary-color-s: 62%;
    --primary-color-l: 96%;

    --darknessTransform: 15%;
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));

    --background-spinner: var(--color-primary-dark);

    position: absolute;
    top: 0;
    left: 0;
    // z-index: -1;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
        display: block;
        width: 34px;
        height: 34px;
        border-radius: 50%;

        animation: rotate 0.5s linear infinite;
        will-change: transform;

        &::before {
            position: absolute;

            inset: 0px;
            border-radius: 50%;
            border: 2px solid var(--background-spinner);

            animation: prixClipFix 1s linear infinite;

            content: "";
        }
    }

    &.small {
        z-index: 2;

        & span {
            width: 24px;
            height: 24px;
        }
    }

    
    &.large {
        & span {
            width: 70px;
            height: 70px;

            &::before {
                border-width: 6px;
            }
        }
    }

    &.top {
        top: 24px;
    }

    &.bottom {
        top: auto;
        align-items: flex-end;
        height: auto;
        bottom: -10px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}