

#MarberyNotificationCenter {
	& {
		--color_red: #cd5c5c;
		--color_green: #7bcd86;
	}

	right: 0; 
	z-index: 999999;
	position: fixed;
	word-break: break-word; 
	margin: 5px*$rem;
	border-radius: 5px*$rem;
	padding: 10px*$rem;
	max-width: 100%;
	background: #343360; 
	font-size: 12px*$tem;

	@include start-at("md") {
		max-width: 50%;
	}  

	& .MarberyHead {
		display: inline-flex;
		align-items: center;
		width: 100%;
		padding: 7px*$rem;
		color: #fff;
	}

	& .MarberyBlock {
		border-top: 1px*$rem solid #454b6b; 
		padding: 7px*$rem; 
		color: #ced4da;

		& i {
			margin-right: 7px;
		}

		& i.fa-exclamation-circle {
			color: var(--color_red);
		}
		& i.fa-check-circle {
			color: var(--color_green);
		}
		& i.fa-hourglass-start {
			color: var(--color_blue);
		}
	}
}

#MarberyNotificationCenterEvent-close {
	margin: -15px*$rem -10px*$rem 0 5px*$rem;
	cursor: pointer;
    flex: auto;
	text-align: right;

	& i {
		border-radius: 5px*$rem;
    	padding: 4px*$rem 7px*$rem 4px*$rem 7px*$rem;

		&:hover {
			background-color: var(--color_red);
			color: #fff;
		}
	}
}