.old-browsers {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &__header {
        padding: 10px 15px;

        width: 100%;
       

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #52518a;

        @include respond-to(mobile) {
            padding: 20px 15px;
        }

        a {
            display: inline-flex;
        }

        img {
            width: 80px;
            height: auto;

            @include respond-to(small-tablet) {
                width: 120px;
            }
        }
    }

    &__body {
        padding: 20px 15px;
        padding-bottom: 30px;

        font-weight: normal;
        font-size: 16px;

        background-color: #ffffff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #4f6173;

        @include respond-to(mobile) {
            padding: 40px 30px 50px 30px;
            font-size: 20px;
        }

        p {
            margin-bottom: 10px*$rem;

            @include respond-to(mobile) {
                margin-bottom: 15px*$rem;
            }
        }
    }

    &__title {
        margin-bottom: 15px;

        font-size: 18px;

        font-family: $font-family-bold;

        color: black;

        @include respond-to(mobile) {
            margin-bottom: 20px;

            font-size: 26px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        @include respond-to(mobile) {
            margin-top: 40px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        @include respond-to(mobile) {
            margin-right: 60px;
        }

        img {
            max-width: 100%;
            width: 50px;
            height: 50px;
            object-fit: contain;
            object-position: center;

            @include respond-to(mobile) {
                width: 80px;
                height: 80px;
            }
        }

        span {
            margin-top: 10px;

            font-weight: 600;

            color: #8429af;

            transition: all 0.3s ease;
        }

        &:hover span {
            color: #43105a;
        }
    }
}