// Стили для тултипа
.tooltip {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

    display: flex;
    align-items: flex-start;

    font-size: 13px;

    color:inherit;
    opacity: 0;

    cursor: pointer;

  	transition: opacity 0.3s ease;

  	&.show {
  		z-index: 10001;
  		opacity: 1;
  	}

  	&[data-position="right"] .tooltip__inner::before {
  		left: -7px;
    	top: calc(50% - 10px);
  		transform: rotate(-90deg) translateY(-50%);
  	}

   	&[data-position="left"] .tooltip__inner::before {
  		right: -7px;
  		top: calc(50% - 10px);
  		transform: rotate(90deg) translateY(-50%);
  	}

    &[data-position="top"] .tooltip__inner::before {
  		left: calc(50% - 20px);
  		top: calc(100% - 3px);
  		transform: rotate(-180deg) translateX(-50%);
  	}

    &[data-position="bottom"] .tooltip__inner::before {
  		left: calc(50%);
  		bottom: calc(100% - 3px);
  		transform: translateX(-50%);
  	}

    &__inner  {      
    	position: relative;  
        padding: 5px*$rem 15px*$rem;

     
        background: #000000;
        color: #ffffff;
        border-radius: 0.1875rem;

        font-size: 12px;

        &::before {
	        position: absolute;

	        height: 0;
	        width: 0;

	        pointer-events: none;

	        border: solid transparent;
	        border-width: 10px;
	        border-radius: 1px;
	        border-bottom-color: #000000;

	        content: '';
	    }
    }
}