.download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 2px*$rem;

    background-color: var(--color_close);

    transition: all 0.3s ease;

    @include respond-to(small-tablet) {
        width: 25px;
        height: 25px;
    }

    &:hover {
        background-color: var(--color_hover_close);
    }

    &__icon {
        font-size: 16px*$tem;

        color: var(--color_icon_close);

        svg {
            display: flex;
        }

        @include respond-to(small-tablet) {
            font-size: 18px*$tem;
        }
    }
}