.label {
    display: block;

    font-size: 13px*$tem;
    line-height: 1;

    color: var(--color_label);
    font-family: $font-family-medium;

    @include respond-to(mobile) {
        font-size: 14px*$tem;
    }
}