.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 2px;

    background-color: var(--color_close);

    transition: all 0.3s ease;

    &:hover {
        background-color: var(--color_hover_close);
    }

    &__icon {
        font-size: 15px*$tem;

        color: var(--color_icon_close);

        svg {
            display: flex;
        }
    }
}