.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $grid-gutter-compensation;
  margin-left: $grid-gutter-compensation;
}

.row-gap {
  margin-top: -15px;

  & > * {
    margin-top: 15px;
  }
}

@mixin make-row($breakpoint-name) {
  .start-#{$breakpoint-name} {
    justify-content: flex-start;
    text-align: start;
  }

  .center-#{$breakpoint-name} {
    justify-content: center;
    text-align: center;
  }

  .end-#{$breakpoint-name} {
    justify-content: flex-end;
    text-align: end;
  }

  .top-#{$breakpoint-name} {
    align-items: flex-start;
  }

  .middle-#{$breakpoint-name} {
    align-items: center;
  }

  .bottom-#{$breakpoint-name} {
    align-items: flex-end;
  }

  .around-#{$breakpoint-name} {
    justify-content: space-around;
  }

  .between-#{$breakpoint-name} {
    justify-content: space-between;
  }

  .first-#{$breakpoint-name} {
    order: -1;
  }

  .last-#{$breakpoint-name} {
    order: 1;
  }
}
