.subs {
    &__download {
        position: absolute;
        z-index: 3;
        top: 3px*$rem;
        left: 3px*$rem;

        transition: all 0.3s ease;

        &[data-close="1"] {
            opacity: 1;
        }

        &[data-close="0"] {
            opacity: 0;
        }
    }
}