@mixin btn-variant(
    $border-color: transparent, $color: var(--color_btn), $bg: transparent,
    $border-color-hover: transparent, $color-hover: var(--color_btn), $bg-hover: $bg-hover-btn) {
    border-color     : $border-color;
    color            : $color;
    background-color : $bg;

    &:hover {
        border-color     : $border-color;
        color            : $color-hover;
        background-color : $bg-hover;
    }
}
